<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bingley.materialdesign"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppStart"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.KnowlegeListActivity"/>
        <activity android:name=".activity.KnowleageDetailActivty"/>
        <activity android:name=".topic.osc.OscMainActivity"/>
        <activity
            android:name=".topic.elmssearch.ElemsSearchActivity"
            android:theme="@style/Translucent"/>
        <activity android:name=".topic.listviewdemo.ScrollHideListViewActivity"/>
        <activity android:name=".topic.materal.palette.PaletteActivity"/>
        <activity android:name=".topic.materal.palette.XiTuActivity"/>
        <activity android:name=".topic.materal.trans.TransListActitity"/>
        <activity android:name=".topic.materal.trans.TransitionsActivity"/>
        <activity android:name=".topic.osc.activity.LoginActivity"/>
        <activity android:name=".topic.stock.BarChartDemoActivity"/>
        <activity android:name=".topic.stock.kdemo.KDiagramActivity"/>
    </application>

</manifest>